@import 'colors.scss';

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &__form {
    position: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 490px;
    height: 480px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;

    h1 {
      font-size: 40px;
      color: $hcolor;
      margin: 35px;
      text-align: center;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label {
          font-size: 18px;
          color: $pcolor;
          margin-bottom: 5px;
          font-weight: 500;
        }

        input {
          width: 370px;
          height: 50px;
          border: 1px solid #dddae7;
          border-radius: 5px;
          font-size: 16px;
          font-weight: 350;
          color: #918d9a;
          padding: 12px 17px;
        }
      }
    }
  }

  &__close-btn {
    float: right;
    cursor: pointer;
    &:active {
      transform: translateY(1px);
    }
  }

  &__btn {
    margin-top: 20px;
    width: 100%;
  }
}
